/* Temel renkler */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Light Tema */
body.light {
  background-color: #f8f9fa;
  color: #212529;
}

/* Dark Tema */
body.dark {
  background-color: #212529;
  color: #f8f9fa;
}

/* Navbar örneği */
.navbar-light {
  background-color: #e3f2fd;
  color: #212529;
}

.navbar-dark {
  background-color: #343a40;
  color: #f8f9fa;
}
